@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    font-family: Roboto, "sans-serif";
}

body{
    background-color: rgb(240, 240, 240);
}

.not-found{
    background-color: #757575;
    color: #fff;
    text-transform: uppercase;
    animation-name: flip;
    animation-duration: .8s;
}

.in-another-position{
    background-color: #E4A81D;
    color: #fff;
    text-transform: uppercase;
    animation-name: flip;
    animation-duration: .8s;
}

.correct{
    background-color: #43A047;
    color: #fff;
    text-transform: uppercase;
    animation-name: flip;
    animation-duration: .8s;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
}

h4{
    font-size: 20px;
    margin-top: 10px;
}

.game-container{
    margin: 0 auto;
    text-align: center;
}

.word{
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input{
    text-align: center;
    font-size: 3.5rem;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border: none;
    background-color: rgb(190, 190, 190);
    outline: none;
    cursor: pointer;
    caret-color: rgb(190, 190, 190);
}

button{
    margin-top: 20px;
    font-family: Roboto, "sans-serif";
    font-size: 15px;
    padding: 15px;
    width: 380px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: #393E46;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    background-color: #222831;
}

.input2{
    transition-delay: .2s;
    animation-delay: .2s;
}

.input3{
    transition-delay: .3s;
    animation-delay: .3s;
}

.input4{
    transition-delay: .4s;
    animation-delay: .4s;
}

.input5{
    transition-delay: .5s;
    animation-delay: .5s;
}

.modal-content{
    position: absolute;
    z-index: 100;
    display: flex;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: 0 auto;
    width: 300px;
    height: 270px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0,0,0,.9);
    color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.modal-content h3 {
    font-size: 25px;
}
.modal-content p {
    font-size: 20px;
}
.modal-content button{
    width: 200px;
    background-color: rgba(240,240,240,.9);
    color: rgba(0,0,0);
}
.modal-content button:hover{
    width: 250px;
}

.error{
    animation-name: wordNoExist;
    animation-duration: 1s;
}

@keyframes wordNoExist{
    0%{-webkit-transform:translate(0px,0px);}
	10%{-webkit-transform:translate(10px,0px);}
	20%{-webkit-transform:translate(0px,0px);}
	30%{-webkit-transform:translate(10px,0px);}
	40%{-webkit-transform:translate(0px,0px);}
	50%{-webkit-transform:translate(10px,0px);}
	60%{-webkit-transform:translate(0px,0px);}
	70%{-webkit-transform:translate(10px,0px);}
	80%{-webkit-transform:translate(0px,0px);}
	90%{-webkit-transform:translate(10px,0px);}
	100%{-webkit-transform:translate(0px,0px);}
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 30px;
    }
    input{
        width: 45px;
        height: 45px;
        font-size: 1.8rem;
    }
    input:disabled{
        opacity: 1;
        color: rgba(255,255,255,1);
    }
    button{
        width: 280px;
    }
    .modal-content{
        width: 270px;
    }
}